@import "../assets/scss/base.scss";
.CreateDebate {
  width: 100%;
  z-index: 999;
  &__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
    &__error {
      @extend %common-subtitle;
      color: #ff0000;
    }
  }
  &__heading {
    @extend %common-title;
    text-align: center;
    margin-bottom: $space-normal;
  }
  &__banner {
    @extend %common-container;
    width: 100%;
    &__inner {
      @extend %common-container-inverse;
      width: 100%;
      background: initial;
    }
  }
  &__label {
    @extend %common-input-label;
  }
  &__input-wrapper {
    @extend %common-input-wrapper;
  }
}
