@import "../assets/scss/base.scss";

.Debates {
  @extend %fade-in;
  &__content {
    &__heading {
      display: flex;
      align-items: center;
      &__text {
        @extend %common-heading;
      }
      &__tag {
        @extend %common-stake-badge;
        margin-left: $space-small;
        i {
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 20px;
          width: 27px;
          height: 27px;
          font-size: 25px;
          padding-left: 5px;
          padding-top: 1px;
          margin-left: 8px;
          cursor: pointer;
        }
      }
    }
    &__controls {
      margin: $space-small 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      &__search-wrapper {
        @extend %common-input;
        display: flex;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        > input {
          font-size: 20px;
          background: none;
          border: none;
        }
      }
    }
  }
}
