@import "../assets/scss/base.scss";

.DebateDetails {
  @extend %fade-in;
  // @extend %common-container;
  // width: 100%;
  overflow-y: scroll;
  &__nav-share {
  }
  &__content {
    @extend %common-page;
  }
  &__divider {
    @extend %common-divider;
    margin-top: $space-small;
    margin-bottom: $space-small;
    margin-left: -$space-small;
    margin-right: -$space-small;
  }
  &__description {
    @extend %common-container;
    width: 100%;
    margin-top: $space-small;
    tr {
      border-top: 1px solid #c6cbd1;
    }

    th,
    td {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }

    img {
      max-width: 100%;
    }

    &__created {
      @extend %common-label;
      display: inline-block;
      &__stake {
        @extend %common-stake-badge-small;
      }
      &__creator-banner {
        @extend %common-card-creator-banner;
      }
    }
  }
  &__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    &__count-down {
      font-size: 30px;
      line-height: 30px;
      color: #d1d1d1;
      text-shadow: 1px 1px 1px #dddddd;
      text-align: center;
      padding-bottom: $space-small;
      &--winning {
        @extend %common-heading;
        font-weight: 500;
        font-style: normal;
        color: $font-color;
        text-shadow: none;
      }
    }
  }
  &__chart {
    transition: min-height 500ms ease;
    height: 0px;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    &__graph {
    }
    &__progress {
      width: 100px;
      padding-top: 4px;
      padding-bottom: 50px;
      transform: translateX(0px);
      @include mobile {
        // display: none;
      }
    }
  }
  &__head-content {
    display: flex;
    align-items: center;
    &__title {
      flex-grow: 1;
    }
    &__back {
      transition: all 300ms $common-timing-function;
      width: 50px;
      height: 50px;
      border-radius: 20px;
      margin-right: $space-small;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  &__title {
    @extend %common-heading;
  }
  &__subtitle {
    @extend %common-subtitle;
  }
  &__stake {
    @extend %common-stake-badge;
    margin-right: $space-small;
  }
  &__opinions-container {
    padding-bottom: $space-normal;
    &__controls {
      z-index: 2;
      position: relative;
      margin-bottom: -30px;
      padding-top: $space-small;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      &__column {
        min-width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        @include mobile {
          flex-grow: 1;
        }
        .Toggle {
          box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.15),
            4px 4px 8px rgba(0, 0, 0, 0.15);
        }
        &--left {
          align-items: flex-start;
        }
        &--right {
          align-items: flex-end;
        }
        &__emoji {
          @extend %common-heading-banner-normal;
          border-radius: $radius-normal;
          padding: $space-small;
          font-size: $font-size-xl;
          text-align: center;
          &--winner {
            color: gold;
            transform: scale(1.3);
          }
          &--loser {
            color: #854545;
          }
          div:first-of-type {
            font-size: $font-size-large;
            color: white;
          }
        }
      }
      &__spacer {
        @extend %common-title;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: $space-normal;
        @include mobile {
          flex-grow: 1;
          width: 100%;
          order: -1;
          justify-content: space-between;
        }
        span {
          white-space: nowrap;
        }

        &__results {
          // @extend %common-container;
          width: initial;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &__result-heading {
            @extend %common-title;
            text-shadow: none;
          }
          &__result-title {
            color: #d1d1d1;
            font-size: 20px;
            line-height: 22px !important;
          }
        }
        &--winnings {
          @extend %common-heading;
          font-weight: 500;
          font-style: normal;
          color: $font-color;
          text-shadow: none;
        }
        &--losses {
          @extend %common-heading;
          background-image: $accent-gradient-red;
          font-weight: 500;
          font-style: normal;
          color: $font-color;
          text-shadow: none;
        }
      }
    }
    &__new-opinion-container {
      @extend %double-dashed-lines;
      padding-top: $space-normal;
      padding-bottom: $space-small;
      z-index: 1;
      position: relative;
      &__card-wrapper {
        width: 70%;
        &--right {
          width: 80%;
          margin-left: auto;
          right: 0;
        }
      }
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: $space-small;
    &__tag {
      margin-left: 7px;
      a {
        text-decoration: none;
        color: inherit;
      }
      button {
        padding: 5px;
        font-size: 14px;
      }
    }
  }
}
