@import "../assets/scss/base.scss";

.DebateDetails {
  @extend %fade-in;
  // @extend %common-container;
  width: 100%;
  &__chart {
    height: 30vh;
    min-height: 250px;
    margin-top: $space-normal;
    display: flex;
    flex-direction: row;
    &__progress {
      padding-top: 4px;
      padding-bottom: 50px;
      transform: translateX(0px);
    }
  }
  &__title {
    @extend %common-heading;
  }
  &__opinions-container {
    &__controls {
      padding-top: $space-normal;
      display: flex;
      justify-content: space-evenly;
      &__column {
        width: 10%;
        display: flex;
        align-items: center;
      }
      &__spacer {
        width: 60%;
      }
    }
    &__list {
      &__item {
        padding-top: $space-normal;
        background: repeating-linear-gradient(
            to bottom,
            $bg-color-middle 0,
            $bg-color-middle 3px,
            transparent 3px,
            transparent 10px
          ),
          linear-gradient(
            to right,
            transparent 0%,
            transparent calc(90% - 0.81px),
            $font-color-light calc(90% - 0.8px),
            $font-color-light calc(90% + 0.8px),
            transparent calc(90% + 0.9px),
            transparent 100%
          ),
          linear-gradient(
            to right,
            transparent 0%,
            transparent calc(10% - 0.9px),
            $font-color-light calc(10% - 0.9px),
            $font-color-light calc(10% + 0.9px),
            transparent calc(10% + 0.9px),
            transparent 100%
          );
        background-repeat: space;
      }
    }
  }
}
