@import "../assets/scss/base.scss";

.DebateDetails{
    @extend %fade-in;
    // @extend %common-container;
    width: 100%;
    &__chart{
        height: 30vh;
        min-height: 250px;
        margin-top: $space-normal;
        display: flex;
        flex-direction: row;
        &__progress{
            padding-top: 4px;
            padding-bottom: 50px;
            transform: translateX(0px);
        }
    }
    &__title{
        @extend %common-heading;
    }
    &__opinions-container{
        &__controls{
            display: flex;
            &__column{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &__list{

        }
    }
}