@import "../assets/scss/base.scss";

.DebateDetails {
  @extend %fade-in;
  // @extend %common-container;
  width: 100%;

  &__description {
    @extend %common-container;
    width: 100%;
    margin-top: $space-small;
    &__created {
      @extend %common-label;
      margin-top: $space-small;
      width: 80%;
      padding-bottom: $space-small;
      display: inline-block;
      &__stake {
        @extend %common-stake-badge-small;
      }
      &__creator-banner {
        @extend %common-card-creator-banner;
      }
    }
  }

  &__chart {
    transition: min-height 500ms ease;
    height: 0px;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    &__progress {
      padding-top: 4px;
      padding-bottom: 50px;
      transform: translateX(0px);
    }
  }
  &__head-content {
    display: flex;
    align-items: center;
  }
  &__title {
    @extend %common-heading;
  }
  &__subtitle {
    @extend %common-subtitle;
  }
  &__stake {
    @extend %common-stake-badge;
    margin-right: $space-small;
  }
  &__opinions-container {
    &__controls {
      z-index: 2;
      position: relative;
      margin-bottom: -30px;
      padding-top: $space-normal;
      padding-bottom: $space-small;
      display: flex;
      justify-content: space-evenly;
      &__column {
        min-width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        &__emoji {
          @extend %common-heading-banner-normal;
          border-radius: $radius-normal;
          padding: $space-small;
          font-size: $font-size-xl;
          text-align: center;
          &--winner {
            color: gold;
            transform: scale(1.3);
          }
          &--loser {
            color: #854545;
          }
          div:first-of-type {
            font-size: $font-size-large;
            color: white;
          }
        }
      }
      &__spacer {
        @extend %common-title;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        div {
          width: min-content;
          height: 100%;
          margin: 50px auto 0 auto;
          font-size: 60px;
          color: #d1d1d1;
          text-shadow: 2px 2px 2px #dddddd;
        }
      }
    }
    &__new-opinion-container {
      @extend %double-dashed-lines;
      padding-top: $space-normal;
      padding-bottom: $space-small;
      &__card-wrapper {
        width: 70%;
        &--right {
          width: 80%;
          margin-left: auto;
          right: 0;
        }
      }
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: $space-small;
    &__tag {
      margin-left: 7px;
      a {
        text-decoration: none;
        color: inherit;
      }
      button {
        padding: 5px;
        font-size: 14px;
      }
    }
  }
}
