@import "../assets/scss/base.scss";

.DebateDetails {
  @extend %fade-in;
  // @extend %common-container;
  width: 100%;

  &__description {
    margin-left: 6vw;
    margin-right: 6vw;
  }

  &__chart {
    height: 30vh;
    min-height: 250px;
    margin-top: $space-normal;
    display: flex;
    flex-direction: row;
    &__progress {
      padding-top: 4px;
      padding-bottom: 50px;
      transform: translateX(0px);
    }
  }
  &__head-content {
    display: flex;
    align-items: center;
  }
  &__title {
    @extend %common-heading;
  }
  &__subtitle {
    @extend %common-subtitle;
  }
  &__stake {
    @extend %common-stake-badge;
  }
  &__opinions-container {
    &__controls {
      z-index: 2;
      position: relative;
      margin-bottom: -30px;
      padding-top: $space-normal;
      padding-bottom: $space-small;
      display: flex;
      justify-content: space-evenly;
      &__column {
        min-width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        &__emoji {
          @extend %common-heading-banner-normal;
          border-radius: $radius-normal;
          padding: $space-small;
          font-size: $font-size-xl;
          text-align: center;
          &--winner {
            color: gold;
            transform: scale(1.3);
          }
          &--loser {
            color: #854545;
          }
          div:first-of-type {
            font-size: $font-size-large;
            color: white;
          }
        }
      }
      &__spacer {
        flex-grow: 1;
      }
    }
    &__new-opinion-container {
      @extend %double-dashed-lines;
      padding-top: $space-normal;
      padding-bottom: $space-small;
      &__card-wrapper {
        width: 70%;
        &--right {
          width: 80%;
          margin-left: auto;
          right: 0;
        }
      }
    }
  }
}
