@import "../assets/scss/base.scss";
.Deposit {
  width: 100%;
  z-index: 9999999;
  align-items: center;
  &__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    &__error {
      @extend %common-subtitle;
      color: #ff0000;
    }
  }
  &__heading {
    @extend %common-title;
    text-align: center;
    margin-bottom: $space-normal;
  }
  &__banner {
    @extend %common-container;
    margin-bottom: $space-normal;
    width: 100%;
    min-width: 400px;
    &__inner {
      @extend %common-container-inverse;
      width: 100%;
    }
    @include mobile {
      min-width: initial;
      width: initial;
      margin-left: $space-small;
      margin-right: $space-small;
    }
  }
  &__expiry {
    text-align: center;
    @extend %common-heading;
    margin-bottom: $space-normal;
  }
  &__spinner {
    text-align: center;
  }
  &__invoice {
    @extend %common-input;
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    width: 100%;
    margin-bottom: $space-normal;
    > input {
      width: 100%;
      font-size: 20px;
      background: none;
      border: none;
    }
  }
}
