@import "../assets/scss/base.scss";
.AccountStats {
  @extend %common-container;
  position: absolute;
  right: $space-normal;
  max-width: $stats-width;
  border-radius: $radius-small;
  height: fit-content;
  text-align: center;
  &__title {
    @extend %common-heading-banner-normal;
    padding: $space-tiny;
    @include mobile {
      display: none;
    }
  }
  &__total {
    @extend %common-heading;
    font-weight: 500;
    font-style: normal;
    padding: $space-tiny $space-small $space-tiny $space-small;
    white-space: nowrap;
    @include mobile {
    }
  }
  &__buttons-layout {
    &__dropdown {
      display: none;
    }
    @include mobile {
      &__dropdown {
        display: inline-block;
        width: 40px;
        button {
          min-width: 40px !important;
          width: 40px;
          font-size: 25px;
          text-align: center !important;
          padding: 16px;
        }
        &__item {
          margin: 0px 9px 3px 3px;
          font-size: $font-size-normal;
          & i {
            text-align: start !important;
            width: initial !important;
            margin-right: 5px;
          }
        }
      }
      .AccountStats__numbers-row {
        display: none;
      }
    }
  }
  &__rows-wrapper {
    @include mobile {
      width: 100%;
      max-width: 80%;
      flex-grow: 1;
    }
  }
  &__numbers-row {
    display: flex;
    padding: 0 $space-small;
    &__subtitle {
      width: 50%;
      @extend %common-subtitle;
    }
    &__number {
      @extend %common-subtitle;
      width: 50%;
      font-weight: 600;
      margin-bottom: $space-small;
    }
    & > button {
      width: 100%;
      margin: 6px $space-small;
      text-align: center !important;
      @include mobile {
        height: 50px;
        margin: 6px auto;
        & > i {
          font-size: $font-size-large;
          margin-right: 0;
        }
        & > span {
          display: none;
          margin-right: 0;
        }
      }
    }
    @include mobile {
      margin: 0;
      padding: 0 0;
    }
  }
  &__divider {
    @extend %common-divider;
    margin-bottom: $space-small;
  }
  @include mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    top: 0;
    right: 0;
  }
}
