@import "../assets/scss/base.scss";
.AccountStats {
  @extend %common-container;
  padding: 14px 0px;
  margin: $space-normal $space-small;
  border-radius: $radius-small;
  height: fit-content;
  text-align: center;
  &__title {
    @extend %common-heading-banner-normal;
    padding: $space-tiny;
    @include mobile {
      display: none;
    }
  }
  &__total {
    @extend %common-heading;
    font-weight: 500;
    font-style: normal;
    padding: $space-tiny $space-small $space-tiny $space-small;
    white-space: nowrap;
  }
  &__rows-wrapper {
    @include mobile {
      flex-grow: 1;
    }
  }
  &__numbers-row {
    display: flex;
    padding: 0 $space-small;
    &__subtitle {
      width: 50%;
      @extend %common-subtitle;
    }
    &__number {
      @extend %common-subtitle;
      width: 50%;
      font-weight: 600;
      margin-bottom: $space-small;
    }
    & > button {
      width: 100%;
      margin: 6px $space-small;
      text-align: center !important;
      @include mobile {
        height: 50px;

        margin: 6px $space-tiny;
        & > i {
          font-size: $font-size-large;
          margin-right: $space-small;
        }
      }
    }
    @include mobile {
      margin: 0;
      padding: 0 0;
    }
  }
  &__divider {
    @extend %common-divider;
    margin-bottom: $space-small;
  }
  @include mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
