@import "./../assets/scss/base.scss";
.Button {
  &--primary {
    @extend %common-button;
    &--selected {
      transform: scale(0.95);
      box-shadow: 0px -1px 3px rgb(255, 255, 255),
        0px 1px 3px rgba(0, 0, 0, 0.15);
    }
    &:hover {
      cursor: pointer;
      box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.8),
        3px 3px 6px rgba(0, 0, 0, 0.15);
    }
  }
  &--secondary {
    @extend %common-button-secondary;
    &--selected {
      text-shadow: 0.5px 0.5px 0.5px $font-color;
      transform: scale(1);
      box-shadow: inset -2px -2px 2px rgb(255, 255, 255),
        inset 1px 1px 3px rgba(0, 0, 0, 0.3);
    }
  }
  &--accent {
    @extend %common-button-accent;
    font-size: $font-size-normal;
    &:disabled,
    &[disabled] {
      background: linear-gradient(
        to right,
        lighten($gradient-start-color, 20%),
        lighten($gradient-end-color, 20%) 40%
      );
      pointer-events: none;
    }
  }
}
