@import "../assets/scss/base.scss";
.CreateOpinionCard{
    @extend %common-container;
    @extend %fade-in;
    border-radius: $radius-small;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__title{
        @extend %common-heading-banner-normal;
        margin-right: -$space-small;
        margin-left: -$space-small;
        margin-bottom: $space-small;
        padding: $space-tiny;
    }
    &__label {
        @extend %common-input-label;
    }
    &__input-wrapper {
        @extend %common-input-wrapper;
    }
}