@import "./../assets/scss/base.scss";
.Dropdown {
  > button {
    min-width: 120px;
  }
  i {
    text-align: right;
    width: 100%;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: rotateZ(0deg);
    transform-origin: 80% 50%;
  }
  .selected {
    transform: rotateZ(-90deg);
  }
  &__content {
    @extend %common-container;
    @extend %fade-in;
    position: absolute;
    margin-top: 85px;
    right: 0;
    width: 100%;
    text-align: start;
    padding: 22px 0px;
    min-width: 120px;
    &__item {
      padding: 5px 10px;
      font-size: 14px;
      &:hover {
        background: #dddddd;
      }
      &--selected {
        @extend %common-subtitle;
        padding: 5px 10px;
        background-image: $accent-gradient;
        color: white;
      }
    }
  }
}
