@import "../assets/scss/base.scss";
.EmptyState {
    @extend %fade-in;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    >img {
        width: 70%;
        min-width: 320px;
        height: auto;
    }
    >span{
        @extend %common-title;
    }
}