@import "./assets/scss/base.scss";

.App {
  height: 100vh;
  width: 100vw;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  padding: 0 6vw;
  @media only screen and (max-width: 768px) {
    padding: 0 3vw;
  }
  &__content {
    @extend %common-content;
    overflow-y: auto;
  }
  &__dialog {
    @extend %fade-in;
    background-color: $bg-color-middle;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &__nav{
      padding: 10px 15px 0 0;
      right: 0;
      position: absolute;
    }
    &__content{
      @extend %common-content;
      overflow-y: auto;
    }
  }
  
  @include mobile {
    flex-direction: column-reverse;
  }
}
