@import "./assets/scss/base.scss";

.App {
  height: 100vh;
  width: 100%;
  font-weight: normal;
  display: flex;
  flex-direction: row;

  &__content {
    @extend %common-content;
    overflow-y: auto;
    padding-left: $nav-width + $space-normal + $space-normal;
    padding-right: $stats-width + $space-normal + $space-normal;
    @include mobile {
      padding: 130px $space-small;
    }
  }
  &__dialog {
    @extend %fade-in;
    @extend %common-page;
    background-color: $bg-color-middle;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &__nav {
      padding: 10px 15px 0 0;
      right: 0;
      position: absolute;
    }
    &__content {
      @extend %common-content;
      overflow-y: auto;
    }
  }

  @include mobile {
    flex-direction: column-reverse;
  }
}
